<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light "  style="background-color:blueviolet;">
    <span>
      <button type="button" class="btn btn-light" routerLink="/" style="margin-left:25px;">Bus Reservation <i class="fa fa-bus" ></i></button>
    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div fxLayout="row" fxShow="false" fxShow.gt-sm style="margin-left:900px">
        <button type="button" class="btn btn-light" routerLink="/Adminlogin" style="margin-left:25px;" >
          
          Admin
        </button>
        <button type="button" class="btn btn-light" routerLink="/Userlogin"  style="margin-left: 25px;" style="margin-left:25px;">
            
            User
          </button>
      </div>
    </nav>

   
<router-outlet></router-outlet>