<br/><br/><br/><br/>
      
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">

        <div style="margin-left:500px;margin-top: 5px;margin-right: 500px;border-style:initial;">
        <h3 style="text-align: center;">Admin Login</h3>
          <div class="form-group"><br/>
          <label for="exampleInputEmail1"><b>Email address</b></label>
          <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email"  >
          <small id="emailHelp" class="form-text text-muted"> never share your email with anyone else.</small>
        </div><br/>
        <div class="form-group">
          <label for="exampleInputPassword1"><b>Password</b></label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" >
        </div>
      <br/><br/>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      </form>


      